:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
/* start box  display + postion + width */
.p-relative {
  position: relative;
}
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.w-full {
  width: 100%;
}
.over-hidden {
  overflow: hidden;
}
/* start box  */
/* padding + margin + border */
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mb-20 {
  margin-bottom: 20px;
}
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
/* padding + margin */
/* color   */

.bg-white {
  background-color: #fff;
}
.c-black {
  color: black;
}
/* color   */
/* text and font  */
.txt-c {
  text-align: center;
}
.fs-14 {
  font-size: 14px;
}
/* text and font  */
/* start components */
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* end components */
