:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
/* start box  display + postion + width */
.p-relative {
  position: relative;
}
.d-flex {
  display: flex;
}
.f-wrap {
  flex-wrap: wrap;
}
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-center {
  align-items: center;
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
.space-between {
  justify-content: space-between;
}
.d-block {
  display: block;
}
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
.op {
  opacity: 50%;
}
.over-hidden {
  overflow: hidden;
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
  .hide-modile {
    display: none;
  }
}
/* start box  */
/* padding + margin + border */
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-10 {
  padding-bottom: 15px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-15 {
  padding-left: 15px;
}
.m-0 {
  margin: 0;
}
.m-15 {
  margin: 15px;
}
.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}

.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.rad-half {
  border-radius: 50%;
}
.b-none {
  border: none;
}
.border-ccc {
  border: 1px solid #ccc;
}
.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}
/* padding + margin */
/* color   */

.bg-white {
  background-color: #fff;
}
.bg-eee {
  background-color: #eee;
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-blue-20 {
  background-color: rgba(0, 119, 255, 0.2);
}
.c-blue {
  color: var(--blue-color);
}

.bg-orange {
  background-color: var(--orange-color);
}
.bg-orange-20 {
  background-color: rgba(245, 159, 11, 0.2);
}
.c-orange {
  color: var(--orange-color);
}

.bg-green {
  background-color: var(--green-color);
}
.bg-eee {
  background-color: #eee;
}
.bg-green-20 {
  background-color: rgba(34, 197, 94, 0.2);
}
.c-green {
  color: var(--green-color);
}

.bg-red {
  background-color: var(--red-color);
}
.c-white {
  color: #fff;
}
.c-black {
  color: black;
}
.c-grey {
  color: var(--grey-color);
}
/* color   */
/* text and font  */
.txt-c {
  text-align: center;
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
.fs-13 {
  font-size: 14px;
}
.fs-13 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-25 {
  font-size: 25px;
}
.fw-bold {
  font-weight: bold;
}
/* text and font  */
/* start components */
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
/* end components */
