/* start box  */
.p-relative {
  position: relative;
}
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}

/* start box  */
/* padding + margin */
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mb-20 {
  margin-bottom: 20px;
}
.rad-6 {
  border-radius: 6px;
}

/* padding + margin */
/* color   */

.bg-white {
  background-color: #fff;
}
.c-black {
  color: black;
}
/* color   */
.txt-c {
  text-align: center;
}

.fs-14 {
  font-size: 14px;
}
