* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.5s;
}
*:focus {
  outline: none;
}
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--blue-alt-color);
}
::selection {
  background-color: var(--blue-color);
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.page {
  min-height: 100vh;
  background-color: #f0f5f9;
}
/* .sidebar  */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  margin-bottom: 50px;
}
.sidebar > h3::after,
.sidebar > h3::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
}
.sidebar > h3::before {
  width: 80px;
  height: 2px;
  bottom: -20px;
}
.sidebar > h3::after {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  bottom: -29px;
  border: 4px solid white;
}
.sidebar ul li a span {
  font-size: 14px;
  margin-left: 10px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}
.sidebar ul li a {
  transition: 0.3s;
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar > h3 {
    font-size: 10px;
    margin-bottom: 15px;
  }
  .sidebar > h3::after,
  .sidebar > h3::before {
    display: none;
  }
  .sidebar ul li span {
    display: none;
  }
}
/* .sidebar  */
/* content */
/* .content {
} */
.head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  position: absolute;
  font-weight: 900;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}
.head .search input {
  border: 1px solid #ccc;
  margin-left: 5px;
  padding-left: 30px;
  width: 160px;
  transition: width 0.3s;
}
.head .search input:focus {
  width: 200px;
}
.head .search input:focus::placeholder {
  opacity: 0;
}
.head .icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
  right: -5px;
  top: -5px;
}
.head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
}
/* Dashboard */
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::after,
.page h1::before {
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 3px;
}
.page h1::before {
  background-color: #fff;
  width: 120px;
}
.page h1::after {
  background-color: black;
  width: 40px;
}
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
/* welcome */
.welcome .intro img {
  width: 200px;
  margin-bottom: -10px;
}
.avatar {
  width: 64px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
  margin-left: 20px;
  margin-top: -32px;
  box-shadow: 0 0 5px #ddd;
}
.welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.welcome .body > div {
  flex: 1;
}
.welcome .visit {
  margin: 0 15px 15px auto;
  transition: 0.3s;
}
.welcome .visit:hover {
  background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
  .welcome .intro {
    padding-bottom: 30px;
  }
  .avatar {
    margin-left: 0;
  }
  .welcome .body > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
/* welcome */
/* quick */
.quick-draft textarea {
  resize: none;
  min-height: 180px;
}
.quick-draft .save {
  margin-left: auto;
  transition: 0.3s;
  cursor: pointer;
}
.quick-draft .save:hover {
  background-color: var(--blue-alt-color);
}

/* quick */
/* target  */
.targets .info {
  flex: 1;
}
.targets .icon_container {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.targets .progress {
  height: 4px;
}
.targets .progress > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.targets .progress > span span {
  position: absolute;
  bottom: 16px;
  right: -16px;
  color: white;
  padding: 2px 5px;
  border-radius: 6px;
  font-size: 13px;
}

.targets .progress > span span::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-color: transparent;
  border-width: 5px;
  border-style: solid;
}
.targets .progress > .blue span::after {
  border-top-color: var(--blue-color);
}
.targets .progress > .orange span::after {
  border-top-color: var(--orange-color);
}
.targets .progress > .green span::after {
  border-top-color: var(--green-color);
}
/* target  */
/* tickets */
.tickets .box {
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}
/* latest */
.latest .news-row:not(:last-of-type),
.latest-tasks .task-row:not(:last-of-type) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
@media (max-width: 768px) {
  .latest .news-row {
    flex-direction: column;
    text-align: center;
  }
}
.latest .news-row img {
  width: 100px;
  border-radius: 6px;
  margin-right: 15px;
}
.news-row .info,
.latest-tasks .info {
  flex-grow: 1;
}
.task-row i:hover {
  color: var(--red-color);
}
.end {
  text-decoration: line-through;
  opacity: 20%;
}
/* latest uploads */
.latest-uploads ul li img {
  width: 40px;
  height: 40px;
}
.latest-uploads ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
/* latest uploads */
/* latest Post  */
.latest-post .avatar_post {
  width: 48px;
  height: 48px;
}
.latest-post .post-content {
  text-transform: capitalize;
  line-height: 1.8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  min-height: 140px;
}
/* latest Post  */
/* progress  */
.progress-list::before,
.progress-list li::after {
  content: "";
  position: absolute;
}
.progress-list::before {
  background-color: var(--blue-color);
  width: 5px;
  height: 85%;
  top: 20px;
  left: 0;
}
.progress-list li::after {
  background-color: #fff;
  width: 20px;
  height: 20px;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 2px solid #fff;
  outline: 2px solid var(--blue-color);
}
.progress-list .done::after {
  background-color: var(--blue-color);
}
.in-progress::after {
  animation: fide-In 2s infinite ease;
}
@keyframes fide-In {
  0%,
  100% {
    background-color: var(--blue-color);
  }
  50% {
    background-color: #fff;
  }
}
/* progress  */
.launch-icon {
  position: absolute;
  width: 160px;
  right: 0;
  bottom: 0;
  opacity: 0.2;
}
/* reminder */
.remider-row {
  flex-direction: column;
}
.reminders ul li .key {
  width: 15px;
  height: 15px;
}
.reminders ul li > .blue {
  border-left: 2px solid var(--blue-color);
}
.reminders ul li > .green {
  border-left: 2px solid var(--green-color);
}
.reminders ul li > .orange {
  border-left: 2px solid var(--orange-color);
}
.reminders ul li > .red {
  border-left: 2px solid var(--red-color);
}
/* reminder */
/* social */

.social .box {
  padding-left: 70px;
}
.social .box i {
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social .box i:hover {
  transform: rotate(10deg);
}
.social .twitter {
  background-color: rgb(29 161 242 / 20%);
  color: #1da1f2;
}

.social .twitter i,
.social .twitter a {
  background-color: #1da1f2;
}
.social .facebook {
  background-color: rgb(24 119 242 / 20%);
  color: #1da1f2;
}

.social .facebook i,
.social .facebook a {
  background-color: #1877f2;
}
.social .youtube {
  background-color: rgb(255 0 0 / 20%);
  color: #ff0000;
}

.social .youtube i,
.social .youtube a {
  background-color: #ff0000;
}
.social .linkedin {
  background-color: rgb(0 119 181 / 20%);
  color: #0077b5;
}

.social .linkedin i,
.social .linkedin a {
  background-color: #0077b5;
}
/* social */
/* project */
.projects .responsive-table {
  overflow-x: auto;
}
.projects table {
  min-width: 1000px;
  border-spacing: 0;
}
.projects thead td {
  background-color: #eee;
  font-weight: bold;
}
.projects table td {
  padding: 15px;
}
.projects tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}
.projects tbody tr:hover td {
  background-color: #faf7f7;
}
.projects tbody tr td:last-child {
  border-right: 1px solid #eee;
}
.projects table img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}
.projects table img:not(:first-child) {
  margin-left: -20px;
}
/* project */
/* settings */
.settings-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
  .settings-page {
    grid-template-columns: minmax(100px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.settings-page .close-message {
  border: 1px solid #ccc;
  resize: none;
  min-height: 150px;
}
.settings-page .social-boxes i {
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 6px 0 0 6px;
  transition: 0.3s;
  display: flex !important;
}
.settings-page .social-boxes input {
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  padding-left: 10px;
  border-radius: 0 6px 6px 0;
}
.settings-page .social-boxes > div:focus-within i {
  color: black;
}
.settings-page .email {
  display: inline-flex;
  width: calc(100% - 80px);
}
.settings-page .sec-box {
  padding: 15px;
}
.settings-page .sec-box:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.settings-page .sec-box .button {
  transition: 0.3s;
}
.settings-page .sec-box .button:hover {
  background-color: var(--blue-alt-color);
}
.settings-page :disabled {
  cursor: no-drop;
  background-color: #f0f4f8;
  color: #bbb;
}
.toggle-checkbox {
  appearance: none;
  display: none;
}
.toggle-switch {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
}
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background: white;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  color: #aaa;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  left: 50px;
  color: var(--blue-alt-color);
}
/* settings */
/* Dashboard */
