* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
body {
  font-family: "open", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.page {
  min-height: 100vh;
  background-color: #f0f5f9;
}
